<h1> Sign in </h1>

<form action="/sign_in_user">
<div>
  <label for="email">Email</label>
  <input id="email" type="email" name="user_email" placeholder="Enter your email...">
</div>
<div>
  <label for="password">Password</label>
  <input id="password" type="password" name="user_password" placeholder="Enter your password...">
</div>
<button>Sign in</button>
</form>

<hr>

<p>
Or, <a href="/user_sign_up">Sign up</a> instead.
</p>