<h1> Sign up </h1>

<form action="/add_user">
<div>
  <label for="email">Email</label>
  <input id="email" type="email" name="user_email" placeholder="Choose an email...">
</div>
<div>
  <label for="first_name">First name</label>
  <input id="first_name" type="text" name="user_first_name">
</div>
<div>
  <label for="last_name">Last name</label>
  <input id="last_name" type="text" name="user_last_name">
</div>
<div>
  <label for="password">Password</label>
  <input id="password" type="password" name="user_password" placeholder="Choose a password...">
</div>
<div>
  <label for="password_conf">Password Confirmation</label>
  <input id="password_conf" type="password" name="user_password_confirmation" placeholder="Confirm your password">
</div>
<button>Sign up</button>
</form>

<hr>

<p>
Or, <a href="/user_sign_in">Sign in</a> instead.
</p>